/raw_timeseries.png
/processed_timeseries.png
/raw_distributions.png
/processed_smooth.png
/processed_derivative.png
/raw_correlation.png
/raw_scatter3d.png
/raw_spectrogram.png
/raw-data-spectra.png
